{% load static %}
{% include 'header.html' %}
<title>Tournament List</title>
<div class="tournament-list-page">
    <h1><i class="fas fa-trophy"></i> Tournament List</h1>
    <table>
        <thead>
            <tr>
                <th>Tournament Name</th>
                <th>Ranking</th>
                <th>Transaction Hashes</th>
            </tr>
        </thead>
        <tbody>
            {% for tournament in tournaments %}
                <tr>
                    <td>{{ tournament.name }}</td>
                    <td>
                        <ol>
                            {% if tournament.first_place %}
                                <li>{{ tournament.first_place.username }}</li>
                            {% endif %}
                            {% if tournament.second_place %}
                                <li>{{ tournament.second_place.username }}</li>
                            {% endif %}
                            {% if tournament.third_place %}
                                <li>{{ tournament.third_place.username }}</li>
                            {% endif %}
                            {% if tournament.fourth_place %}
                                <li>{{ tournament.fourth_place.username }}</li>
                            {% endif %}
                            {% if tournament.fifth_place %}
                                <li>{{ tournament.fifth_place.username }}</li>
                            {% endif %}
                            {% if tournament.sixth_place %}
                                <li>{{ tournament.sixth_place.username }}</li>
                            {% endif %}
                            {% if tournament.seventh_place %}
                                <li>{{ tournament.seventh_place.username }}</li>
                            {% endif %}
                            {% if tournament.eighth_place %}
                                <li>{{ tournament.eighth_place.username }}</li>
                            {% endif %}
                        </ol>
                    </td>
                    <td>
                        {% for hash in tournament.transaction_hashes %}
                            <div>{{ hash }}</div>
                        {% endfor %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No tournaments found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>