* * * * * cd /usr/src/ && /usr/local/bin/python /usr/src/manage.py runcrons "aouth.cron.CheckUserInactivityCron" >> /var/log/cron_output.log 2>&1
* * * * * cd /usr/src/ && /usr/local/bin/python /usr/src/manage.py runcrons "aouth.cron.CheckUserUnverifiedCron" >> /var/log/cron_output.log 2>&1
