{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Friend List</title>
    <link rel="stylesheet" href="{% static 'friend_list.css' %}">
</head>
<body>
    <h1>Friends List</h1>
    <div class="search-container">
        <form action="{% url 'friend_list' %}" method="get">
            <input type="text" placeholder="Search users..." name="search_query" value="{{ search_query }}">
            <button type="submit">Search</button>
        </form>
    </div>
    <br>
    <table>
        <thead>
            <tr>
                <th>Picture</th>
                <th>Username</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for friend in friends %}
            <tr>
                <td><img src="{{ friend.image.url }}" alt="Profile picture" style="width:50px;height:50px;border-radius:50%;"></td>
                <td>{{ friend.username }}</td>
                <td>{% if friend.get_status_display == 'Online' %}
                <div class="circle_status online"></div>
                {% elif friend.get_status_display == 'In Game' %}
                    <div class="circle_status ingame"></div>
                {% else %}
                <div class="circle_status offline"></div>
                {% endif %}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No friends added yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if search_query %}
    <h1>Search Results</h1>
    <table>
        <thead>
            <tr>
                <th>Picture</th>
                <th>Username</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td><img src="{{ user.image.url }}" alt="Profile picture" style="width:50px;height:50px;border-radius:50%;"></td>
                <td>{{ user.username }}</td>
                <td>{% if user.get_status_display == 'Online' %}
                    <div class="circle_status online"></div>
                {% elif user.get_status_display == 'In Game' %}
                <div class="circle_status ingame"></div>
                {% else %}
                    <div class="circle_status offline"></div>
                {% endif %}</td>
                <td>
                    <form action="{% url 'add_friend' user.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Add</button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No users found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</body>
</html>
