{% load static %}
{% include 'head_elements.html' %}
<header>
    <div class="sidebar">
        <button onclick="loadPageUsers('settings')"><i class="fas fa-cog"></i></button>
        <button onclick="loadPageUsers('viewProfile')"><i class="fas fa-user"></i></button>
        <button onclick="loadPageBlockchain('score-tournament')"><i class="fas fa-trophy"></i></button>
        <button onclick="loadPageAouth('aouth_logout')" class="logout-button"><i class="fas fa-sign-out-alt"></i></button>
    </div>
    <div class="logo-box" style="flex-grow: 1; text-align: center;" onclick="loadPageUsers('home')">
        <h2>FT-tRaNsCeNdEnCe</h2>
    </div>

</header>
