<!-- head_elements.html -->
{% load static %}
<link rel="stylesheet" href="{% static 'stylesheet.css' %}">
<link rel="stylesheet" href="{% static 'jeu.css' %}">
<link rel="stylesheet" href="{% static 'buttons.css' %}">
<link rel="stylesheet" href="{% static 'animations.css' %}">
<link rel="stylesheet" href="{% static 'logos.css' %}">
<link rel="stylesheet" href="{% static 'perso.css' %}">
<link rel="stylesheet" href="{% static 'viewProfile.css' %}">
<link rel="stylesheet" href="{% static 'friend_list.css' %}">
<link rel="stylesheet" href="{% static 'sidebarStyle.css' %}">
<link rel="stylesheet" href="{% static 'setting.css' %}">
<link rel="stylesheet" href="{% static 'scoreTournament.css' %}">
<link rel="stylesheet" href="{% static 'chats.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">