{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mode Page</title>
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'buttons.css' %}">
    <link rel="stylesheet" href="{% static 'animations.css' %}">
    <link rel="stylesheet" href="{% static 'logos.css' %}">
    <link rel="stylesheet" href="{% static 'perso.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
</head>
<body>
    <div class="logo-box">
        <h2>Mode</h2>
    </div>
    <button type="submit" onclick="window.location.href = '{% url 'vscomputer' %}'" style="margin-right: 20px;"> <span></span>
        <span></span>
        <span></span>1VSCOMPUTER</button>
    <button type="submit" onclick="window.location.href = '{% url 'matchmaking_remote' %}'" style="margin-right: 20px;"> <span></span>
        <span></span>
        <span></span>REMOTE</button>
    <button type="submit" onclick="window.location.href = '{% url 'hard' %}'" style="margin-right: 20px;"> <span></span>
        <span></span>
        <span></span>HARD</button>
    <button type="submit" onclick="javascript:history.go(-1);" class="button back-button"><span></span>
        <span></span>
        <span></span>Back
    </button>
</body>
</html>