{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong Game</title>
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'buttons.css' %}">
    <link rel="stylesheet" href="{% static 'chats.css' %}">
    <link rel="stylesheet" href="{% static 'jeu.css' %}">
    <link rel="stylesheet" href="{% static 'animations.css' %}">
    <link rel="stylesheet" href="{% static 'logos.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Style for the confirmation modal */
        #confirmationModal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border: 1px solid #ccc;
            z-index: 1000; /* Ensure modal is above other elements */
        }
    </style>
    <script>

        function showConfirmation() {
            document.getElementById('confirmationModal').style.display = 'block';
        }

        function hideConfirmation() {
            document.getElementById('confirmationModal').style.display = 'none';
        }

        function quitGame() {
            window.location.href = '/games/remote_quit/';
        }

        function enfOfGameLoop() {
            fetch('/users/get_current_game/')
            .then(response => response.json())
            .then(data => {
                if (data.current_game === null) {
                    window.location.href = '/games/results/';
                }
            })
            .catch(error => console.error('Error:', error));
        }
        setInterval(enfOfGameLoop, 1000);
    </script>
</head>
<body>
    {% csrf_token %}
    <div class="container">
        <button id="chrono-button">1:00</button>
        <div class="player-buttons">
            <button class="player-button" id="player1-btn">{{ game.player1.username }}</button>
            <button class="player-button" id="player2-btn">{{ game.player2.username }}</button>
        </div>
        <canvas id="pongCanvas" width="800", height="400"></canvas>
        
        <div class="perso-button" style="top: 90%">
            <button type="submit" onclick="showConfirmation()"><span></span>
                <span></span>
                <span></span>
                <span></span>
                Quit</button>
        </div>
        <div id="confirmationModal">
            <div>
                <h4>Are you sure you want to quit this game? </h4>
                <p>Quitting automatically set your score at -1 and make your opponant the winner.</p>
                <button onclick="quitGame()">Yes</button>
                <button onclick="hideConfirmation()">Cancel</button>
            </div>
        </div>
    </div>
    <script src="{% static 'js/localgame.js' %}"></script>
</body>
</html>