{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PongRemote Game</title>
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'buttons.css' %}">
    <link rel="stylesheet" href="{% static 'chats.css' %}">
    <link rel="stylesheet" href="{% static 'jeu.css' %}">
    <link rel="stylesheet" href="{% static 'animations.css' %}">
    <link rel="stylesheet" href="{% static 'logos.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <button id="chrono-button" onclick="startTimer(60)">1:00</button>
        <div class="player-buttons">
            <button class="player-button" id="player1-btn" onclick="choosePlayer(player1)">Player 1</button>
            <button class="player-button" id="player2-btn" onclick="choosePlayer(player2)">Player 2</button>
        </div>
        <canvas id="pongCanvas" width="800", height="400"></canvas>
        <div class="chat-window">
            <div class="chat-messages" id="chat-messages">
            </div>
            <div class="chat-bar">
                <label for="chat-input">Live Chat</label>
                <input type="text" id="chat-input" name="chat" required style="color: black; opacity: 1;">
            </div>
        </div>
        <button class="profile-button">Opponent's Profile</button>
        <button type="submit" onclick="javascript:history.go(-1);" class="button back-button">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Back
        </button>
        <script src="{% static 'js/game.js' %}"></script>
        <script src="{% static 'js/chat-game.js' %}"></script>
    </div>
</body>
</html>