
.perso-button {
background-color: transparent;
border: none;
border-radius: 50%; 
position: absolute;
top: 100px; 
right: 0; 
font-size: 2vw;
}

/* .logout-button { */
  /* background-color: transparent; */
  /* border: none; */
  /* border-radius: 50%;  */
  /* position: absolute; */
  /* bottom: 7%; */
  /* right: 0;  */
  /* font-size: 2vw; */
  /* } */

.custom-button::before {
content: "";
display: block;
width: 100%;
height: 100%;
background-image: url('votre-image.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
border-radius: 50%;
}

button[type="submit"] {
position: relative;
display: inline-block;
padding: 10px 20px;
color: #03e9f4;
font-size: 16px;
text-decoration: none;
text-transform: uppercase;
overflow: hidden;
transition: .5s;
letter-spacing: 4px;
border: none;
background: transparent;
cursor: pointer;
outline: none;
}

button[type="submit"]:hover {
color: #fff;
}

button[type="submit"] span {
position: absolute;
display: block;
}

button[type="submit"] span:nth-child(1) {
top: 0;
left: -100%;
width: 100%;
height: 2px;
background: linear-gradient(90deg, transparent, #03e9f4);
animation: btn-anim1 1s linear infinite;
}


button[type="submit"] span:nth-child(2) {
top: -100%;
right: 0;
width: 2px;
height: 100%;
background: linear-gradient(180deg, transparent, #03e9f4);
animation: btn-anim2 1s linear infinite;
animation-delay: .25s;
}

button[type="submit"] span:nth-child(3) {
bottom: 0;
right: -100%;
width: 100%;
height: 2px;
background: linear-gradient(270deg, transparent, #03e9f4);
animation: btn-anim3 1s linear infinite;
animation-delay: .5s;
}

button[type="submit"] span:nth-child(4) {
bottom: -100%;
left: 0;
width: 2px;
height: 100%;
background: linear-gradient(360deg, transparent, #03e9f4);
animation: btn-anim4 1s linear infinite;
animation-delay: .75s;
}


.leave-button {
margin-top: 10px;
margin-left: 10px;
padding: 5px 10px;
background-color: #ff0000;
color: #ffffff;
border: none;
border-radius: 5px;
}

.profile-button {
margin-top: 10px;
margin-right: 10px;
padding: 5px 10px;
background-color: #007bff;
color: #ffffff;
border: none;
border-radius: 5px;
}

.player-buttons {
display: flex;
justify-content: center;
}

.player-button {
padding: 10px 20px;
margin: 0 10px;
color: #fff;
font-size: 16px;
text-transform: uppercase;
border: none;
border-radius: 5px;
background-color: transparent;
cursor: pointer;
outline: none;
position: relative;
/* overflow: hidden; */
}

.player-button::before {
content: '';
/* position: absolute; */
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #03e9f4;
z-index: -1;
transition: transform 0.3s ease;
transform: scaleX(0);
transform-origin: left;
}

.player-button:hover::before {
transform: scaleX(1);
}

.back-button {
    /* Vos styles spécifiques au bouton de retour ici */
    position: fixed !important;
    bottom: 20px !important;
    right: 20px !important;
  }