
.tournament-box {
  width: 240px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.accueil-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
}

/* DASHBOARD */

.dashboard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
}


/* Data */

.dashboard-data {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  height: 100%;
  padding: 20px;
}

.dashboard-data h1 {
  font-size: 28px;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  width: 100%;
  transform: translate(-20px, 0);
}

.dashboard-data div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.dashboard-data h4 {
  color: white;
}

/* RANKING & GAME */

.dashboard-ranking-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 50px;
  
}

/* RANKING */

.dashboard-ranking {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  width: 35vw;
  padding: 20px;
}

.dashboard-ranking h1 {
  color: #03e9f4;
  font-weight: 900;
}

.dashboard-ranking h2 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.dashboard-ranking .players-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; /* Align items at the start */
  gap: 10px;
  width: 100%;
}

.dashboard-ranking .player-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 10px;
  flex-basis: calc(50% - 5px);
  height: 45px;
}

.dashboard-ranking .player-item h6 {
  font-size: 28px;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 35px;
}

.dashboard-ranking img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  object-fit: cover;
}

.dashboard-ranking p {
  color: #fff;
}

/* GAMES */

.dashboard-game {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  overflow-y: scroll;
  width: 35vw;
  max-height: 70vh;
  max-width: 70vw;
  -ms-overflow-style: none;
  scrollbar-width: none; 
  padding: 20px;
}

.dashboard-game h2 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.dashboard-game p {
  color: #fff;
  font-weight: 300;
  text-align: center;
}

.dashboard-game table {
  width: 100%;
  border-collapse: collapse;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.dashboard-game th, .dashboard-game td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.dashboard-game th {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.dashboard-game td {
  background: linear-gradient(#141e30, #243b55);
  color: #03e9f4;
}

.dashboard-game tr {
  border-bottom: 1px solid #ddd;
}


