{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'head_elements.html' %}
    <script src="https://kit.fontawesome.com/9cc35e0564.js" crossorigin="anonymous"></script>
</head>
<body>
    {% csrf_token %}
    <div class="container1">
        <div class="hero">
            <div class="cube"></div><div class="cube"></div><div class="cube"></div>
            <div class="cube"></div><div class="cube"></div><div class="cube"></div>
        </div>
        <div id="app-content">
            <title>Tournament Dashboard</title>
            <div class="dashboard">
                <div class="dashboard-data">
                    
                    <div id="tournament-name" class="dashboard-data-name"></div>
                    <div class="dashboard-data-level-player">
                        <div id="tournament-level"></div>
                        <div id="tournament-nb-players"></div>
                    </div>
                </div>
                
                <div class="dashboard-ranking-game">    
                    <div id="tournament-ranking"></div>
                    <div class="dashboard-game" id="tournament-games"></div> 
                </div>
            </div>
            
            
            <button type="submit" onclick="remove_from_waiting_queue_tournament('{{ tournament_name }}')" class="button back-button"><span></span>
                <span></span>
                <span></span>
                <span></span>Home
            </button>
        </div>
    </div>
    <script src="{% static 'js/localgame.js' %}" data-arg1="{% csrf_token %}"></script>
    <script src="{% static 'js/router.js' %}"></script>
    <script src="{% static 'js/dashboardTournament.js' %}"></script>
    <script src="{% static 'js/localtournament.js' %}"></script>
    <script>
    document.addEventListener('DOMContentLoaded', initTournamentPage);
    </script>
</body>
</html>
