{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Tournament</title>
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'buttons.css' %}">
    <link rel="stylesheet" href="{% static 'animations.css' %}">
    <link rel="stylesheet" href="{% static 'logos.css' %}">
    <link rel="stylesheet" href="{% static 'perso.css' %}">
    <link rel="stylesheet" href="{% static 'tournament.css' %}">
    <!-- Ajoutez d'autres feuilles de style si nécessaire -->
</head>
<body>
    <h2>Join Tournament</h2>
    <form id="join-tournament-form" method="post">
        {% csrf_token %}
        <label for="player-name">Your Name:</label><br>
        <input type="text" id="player-name" name="player_name" required><br>
        <label for="tournament-id">Tournament ID:</label><br>
        <input type="text" id="tournament-id" name="tournament_id" required><br>
        <button type="submit">Join Tournament</button>
    </form>
    <button type="submit" onclick="javascript:history.go(-1);" class="button back-button"><span></span>
        <span></span>
        <span></span>Back
    </button>
</body>
</html>
