{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong Game</title>
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'jeu.css' %}">
    <link rel="stylesheet" href="{% static 'buttons.css' %}">
    <link rel="stylesheet" href="{% static 'animations.css' %}">
    <link rel="stylesheet" href="{% static 'logos.css' %}">
    <link rel="stylesheet" href="{% static 'perso.css' %}">
    <link rel="stylesheet" href="{% static 'viewProfile.css' %}">
    <link rel="stylesheet" href="{% static 'friend_list.css' %}">
    <link rel="stylesheet" href="{% static 'sidebarStyle.css' %}">
    <link rel="stylesheet" href="{% static 'setting.css' %}">
    <link rel="stylesheet" href="{% static 'scoreTournament.css' %}">
    <link rel="stylesheet" href="{% static 'tournament.css' %}">
    <link rel="stylesheet" href="{% static 'chats.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<div class="hero">
    <div class="cube"></div><div class="cube"></div><div class="cube"></div>
    <div class="cube"></div><div class="cube"></div><div class="cube"></div>
</div>
<div id="app-content">
<body class="pong-game-page">
    {% csrf_token %}
    <div class="container">
        <button id="chrono-button">1:00</button>
        <div class="player-buttons">
            <button class="player-button" id="play-btn">Play</button>
        </div>
        <canvas id="pongCanvas" width="800", height="400"></canvas>
        
        <div class="perso-button" style="top: 90%">
            <button type="submit" onclick="showConfirmation()"><span></span>
                <span></span>
                <span></span>
                <span></span>
                Quit</button>
        </div>
        <div id="confirmationModal">
            <div>
                <h4>Are you sure you want to quit this game? </h4>
                <p>Quitting automatically set your score at -1 and make your opponant the winner.</p>
                <button id="quit_game">Yes</button>
                <button id="confirmationModalButton" onclick="hideConfirmation()">Cancel</button>
            </div>
        </div>
    </div>
</div>
    <script src="{% static 'js/localgame.js' %}" data-arg1="{% csrf_token %}"></script>
    <script src="{% static 'js/router.js' %}"></script>
    <script src="{% static 'js/dashboardTournament.js' %}"></script>
    <script src="{% static 'js/localtournament.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', initializeGameTournament);
</script>
</body>
</html>