{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'head_elements.html' %}
</head>
<body>
    <div class="hero">
        <div class="cube"></div><div class="cube"></div><div class="cube"></div>
        <div class="cube"></div><div class="cube"></div><div class="cube"></div>
    </div>
    <div id="app-content">
        <title>Loading Connection</title>
        <div class="login-box">
            <h2>Please Wait...</h2>
            <input type="hidden" id="access_token" value="{{ access_token }}">
            <input type="hidden" id="refresh_token" value="{{ refresh_token }}">
            <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
            <input type="hidden" id="redirect_url" value="{{ redirect_url }}">
        </div>
    </div>
    <script src="{% static 'js/localgame.js' %}" data-arg1="{% csrf_token %}"></script>
    <script src="{% static 'js/router.js' %}"></script>
    <script src="{% static 'js/dashboardTournament.js' %}"></script>
    <script src="{% static 'js/localtournament.js' %}"></script>
    <script>
        $(document).ready(function() {
            setLocalStorageAndLoadPage();
        });
    </script>
</body>
</html>
