{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading Connection</title>
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'jeu.css' %}">
    <link rel="stylesheet" href="{% static 'buttons.css' %}">
    <link rel="stylesheet" href="{% static 'animations.css' %}">
    <link rel="stylesheet" href="{% static 'logos.css' %}">
    <link rel="stylesheet" href="{% static 'perso.css' %}">
    <link rel="stylesheet" href="{% static 'viewProfile.css' %}">
    <link rel="stylesheet" href="{% static 'friend_list.css' %}">
    <link rel="stylesheet" href="{% static 'sidebarStyle.css' %}">
    <link rel="stylesheet" href="{% static 'setting.css' %}">
    <link rel="stylesheet" href="{% static 'scoreTournament.css' %}">
    <link rel="stylesheet" href="{% static 'chats.css' %}">
    <link rel="stylesheet" href="{% static 'tournament.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="hero">
        <div class="cube"></div><div class="cube"></div><div class="cube"></div>
        <div class="cube"></div><div class="cube"></div><div class="cube"></div>
    </div>
    <div id="app-content">
        <div class="login-box">
            <h2>Please Wait...</h2>
            <input type="hidden" id="access_token" value="{{ access_token }}">
            <input type="hidden" id="refresh_token" value="{{ refresh_token }}">
            <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
            <input type="hidden" id="redirect_url" value="{{ redirect_url }}">
        </div>
    </div>
    <script src="{% static 'js/localgame.js' %}" data-arg1="{% csrf_token %}"></script>
    <script src="{% static 'js/router.js' %}"></script>
    <script src="{% static 'js/dashboardTournament.js' %}"></script>
    <script src="{% static 'js/localtournament.js' %}"></script>
    <script>
        $(document).ready(function() {
            setLocalStorageAndLoadPage();
        });
    </script>
</body>
</html>
