{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil Page</title>
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'jeu.css' %}">
    <link rel="stylesheet" href="{% static 'buttons.css' %}">
    <link rel="stylesheet" href="{% static 'animations.css' %}">
    <link rel="stylesheet" href="{% static 'logos.css' %}">
    <link rel="stylesheet" href="{% static 'perso.css' %}">
    <link rel="stylesheet" href="{% static 'viewProfile.css' %}">
    <link rel="stylesheet" href="{% static 'friend_list.css' %}">
    <link rel="stylesheet" href="{% static 'sidebarStyle.css' %}">
    <link rel="stylesheet" href="{% static 'setting.css' %}">
    <link rel="stylesheet" href="{% static 'scoreTournament.css' %}">
    <link rel="stylesheet" href="{% static 'chats.css' %}">
    <link rel="stylesheet" href="{% static 'tournament.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script>
        function checkValidationCode(pushState = true, bruteforce = false) {
            $.ajax({
                url: `/aouth/twofactor_auto_delete/${bruteforce ? 'true' : 'false'}/`,
                success: function(response) {
                    $('#app-content').html(response.html);
                    if (pushState) {
                        history.pushState({ path: 'register', content: response.html }, '', `/aouth/register`);
                    }
                    bindFormEvent(); 
                },
                error: function(error) {
                    console.error('Error loading the page:', error);
                }
            });
        }

        setInterval(checkValidationCode, 60000);

        window.addEventListener('beforeunload', function(event) {
            checkValidationCode(false, true);  // Call without pushState to avoid modifying history
        
        });

        // $(document).ready(function() {
        //     checkValidationCode();
        // });

    </script>
</head>
<body>
    <div class="hero">
        <div class="cube"></div><div class="cube"></div><div class="cube"></div>
        <div class="cube"></div><div class="cube"></div><div class="cube"></div>
    </div>
    <div id="app-content">
    <div class="login-box">
        <h2>2 Facture Authentication</h2>
        <p style="color: white;">Please enter the 6 digit code sent to you by mail</p>        
        <form method="post" id="twoFactorAouth" action="{% url 'twofactor_oauth' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'twofactor_oauth_tag error' %}
                    <p style="color: red;">ERROR: {{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <p style="color: white;">If you haven't received the code, check the email you specified during registration</p>
    </div>
    <script src="{% static 'js/localgame.js' %}" data-arg1="{% csrf_token %}"></script>
    <script src="{% static 'js/router.js' %}"></script>
    <script src="{% static 'js/dashboardTournament.js' %}"></script>
    <script src="{% static 'js/localtournament.js' %}"></script>
</body>
</html>
