{% load static %}
<div class="container1">
    <div class="logo-box">
        <h2>Tournament</h2>
    </div>
    <div class="tournament-box">
        <button type="submit" onclick="loadPageTournament('create')" style="right:10%"> <span></span>
        <span></span>
        <span></span>
        <span></span>Create Public Tournament</button>
    </div>
    <div class="tournament-box">
        <button type="submit" onclick="loadPageTournament('join')" style="right:10%"> <span></span>
        <span></span>
        <span></span>
        <span></span>Join Tournament</button>
    </div>
    <button type="submit" onclick="javascript:history.go(-1);" class="button back-button"><span></span>
        <span></span>
        <span></span>
        <span></span>Back
    </button>
</div>