{% load static %}
<body class="pong-game-page">
    {% csrf_token %}
    <div class="container">
        <button id="chrono-button">1:00</button>
        <div class="player-buttons">
            <button class="player-button" id="player1-btn">{{ game.player1.alias }}</button>
            <button class="player-button" id="player2-btn">{{ game.player2.alias }}</button>
            <button class="player-button" id="play-btn">Play</button>
        </div>
        <canvas id="pongCanvas" width="800", height="400"></canvas>
        
        <div class="perso-button" style="top: 90%">
            <button type="submit" onclick="showConfirmation()"><span></span>
                <span></span>
                <span></span>
                <span></span>
                Quit</button>
        </div>
        <div id="confirmationModal">
            <div>
                <h4>Are you sure you want to quit this game? </h4>
                <p>Quitting automatically set your score at -1 and make your opponant the winner.</p>
                <button id="quit_game">Yes</button>
                <button id="confirmationModalButton" onclick="hideConfirmation()">Cancel</button>
            </div>
        </div>
    </div>
</body>