{% load static %}
<title>Résultats du tournoi</title>
<body>
    <div class="container1">
        <div class="tournament-results">
            <h1>Résultats du tournoi</h1>
            <form id="player-form">
                <label for="num-players">Nombre de joueurs (max 8) :</label>
                <input type="number" id="num-players" name="num-players" min="1" max="8" value="5">
                <button type="submit">Générer</button>
            </form>
            <table>
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Joueur</th>
                        <th>Victoires</th>
                        <th>Nulles</th>
                        <th>Défaites</th>
                    </tr>
                </thead>
                <tbody id="results-body">
                    <!-- Les lignes seront générées dynamiquement ici -->
                </tbody>
            </table>
        </div>
    </div>
    <script src="resultat_tournoi.js"></script>
</body>
</html>
