<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'buttons.css' %}">
    <link rel="stylesheet" href="{% static 'animations.css' %}">
    <link rel="stylesheet" href="{% static 'logos.css' %}">
    <link rel="stylesheet" href="{% static 'perso.css' %}">
    <link rel="stylesheet" href="{% static 'tournament.css' %}">
    <title>Tournament List</title>
</head>
<body>
    <h1>Tournament List</h1>
    <ul>
        {% for tournament in tournaments %}
            <li>{{ tournament.name }}</li>
        {% endfor %}
    </ul>
</body>
</html>
