{% load static %}
<div class="tournament-results">
    <h1 style="color: white;">Creation du tournoi</h1>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'tournament_generate error' %}
                <p style="color: red;">ERROR: {{ message }}</p>
            {% endif %}
            {% if message.tags == 'tournament_generate success' %}
                <p style="color: green;">SUCCESS: {{ message }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
    <form class="container2" id="generateTournament" action="{% url 'generateTournament' %}" method="post">
        {% csrf_token %}
        <div class="user-box">
            <input type="text" id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" placeholder="Enter tournament name">
        </div>
        <div class="user-box">
            <input type="text" id="{{ form.user_alias.id_for_label }}" name="{{ form.user_alias.html_name }}" placeholder="Nickname">
        </div>
        <div class="user-box">
            <select id="{{ form.nb_players.id_for_label }}" name="{{ form.nb_players.html_name }}">
                <option value="4">4 players</option>
                <option value="8">8 players</option>
            </select>
        </div>
        <button type="submit">Submit</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Position</th>
                <th>Joueur</th>
                <th>Victoires</th>
                <th>Nulles</th>
                <th>Défaites</th>
            </tr>
        </thead>
        <tbody id="results-body">
            <!-- Les lignes seront générées dynamiquement ici -->
        </tbody>
    </table>
</div>
<button type="submit" onclick="javascript:history.go(-1);" class="button back-button"><span></span>
    <span></span>
    <span></span>Back
</button>
