{% load static %}
{% csrf_token %}
<div class="dashboard">
    <div class="dashboard-data">
        <div id="tournament-name" data-tournament-name="{{ tournament_name }}"></div>
        <div>
            <div id="tournament-level"></div>
            <div id="tournament-nb-players"></div>
        </div>
    </div>
    <div class="dashboard-ranking-game">    
        <div id="tournament-ranking"></div>
        <div class="dashboard-game" id="tournament-games"></div> 
    </div>
</div>
<button type="submit" onclick="remove_from_waiting_queue_tournament('{{ tournament_name }}')" class="button back-button"><span></span>
    <span></span>
    <span></span>Back
</button>
