{% load static %}
<title>Create Tournament</title>
<div class="container1">
    <div class="create-join">
        <h1>Create tournament</h1>
        <div id="generate_tournament_messages">
            <!-- error messages -->
        </div>
        <form id="generateTournament" action="{% url 'generateTournament' %}" method="post">
            {% csrf_token %}
            <div class="user-box">
                <input type="text" id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" placeholder="Enter tournament name">
            </div>
            <div class="user-box">
                <input type="text" id="{{ form.user_alias.id_for_label }}" name="{{ form.user_alias.html_name }}" placeholder="Nickname">
            </div>
            <div class="user-box">
                <p>Select numbers of players</p>
                <select id="{{ form.nb_players.id_for_label }}" name="{{ form.nb_players.html_name }}" style="background-color: #03e9f4; border-radius: 5px">
                    <option value="4">4 players</option>
                    <option value="8">8 players</option>
                </select>
            </div>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
    <button type="submit" onclick="javascript:history.go(-1);" class="button back-button"><span></span>
        <span></span>
        <span></span>
        <span></span>Back
    </button>
</div>
