{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'head_elements.html' %}
</head>
<body>
    <div class="container1">
        <div id="app-content">
            <title>Create Tournament</title>
            <div class="create-join">
                <h1>Create tournament</h1>
                <div id="generate_tournament_messages">
                    <!-- error messages -->
                </div>
                <form id="generateTournament" action="{% url 'generateTournament' %}" method="post">
                    {% csrf_token %}
                    <div class="user-box">
                        <input type="text" id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" placeholder="Enter tournament name">
                    </div>
                    <div class="user-box">
                        <input type="text" id="{{ form.user_alias.id_for_label }}" name="{{ form.user_alias.html_name }}" placeholder="Nickname">
                    </div>
                    <div class="user-box">
                        <p>Select numbers of players</p>
                        <select id="{{ form.nb_players.id_for_label }}" name="{{ form.nb_players.html_name }}" style="background-color: #03e9f4; border-radius: 5px">
                            <option value="4">4 players</option>
                            <option value="8">8 players</option>
                        </select>
                    </div>
                    <br>
                    <button type="submit">Submit</button>
                </form>
            </div>
            <button type="submit" onclick="loadPageTournament('tournament')" class="button back-button"><span></span>
                <span></span>
                <span></span>
                <span></span>Back
            </button>
        </div>
    </div>
    <script src="{% static 'js/localgame.js' %}" data-arg1="{% csrf_token %}"></script>
    <script src="{% static 'js/router.js' %}"></script>
    <script src="{% static 'js/dashboardTournament.js' %}"></script>
    <script src="{% static 'js/localtournament.js' %}"></script>
</body>
</html>
