{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'head_elements.html' %}
</head>
<body>
    <div class="container1">
        <div class="hero">
            <div class="cube"></div><div class="cube"></div><div class="cube"></div>
            <div class="cube"></div><div class="cube"></div><div class="cube"></div>
        </div>
        <div id="app-content">
            <title>Tournament Page</title>
            <div class="tournament">
                {% include 'header.html' %}
                <div class="tournament-header">
                    <h1>Tournament</h1>
                </div>
                <div class="tournament-select">
                    <div class="tournament-box">
                        <button type="submit" onclick="loadPageTournament('create')" style="text-align: center;"> <span></span>
                        <span></span>
                        <span></span>
                        <span></span>Create Tournament</button>
                    </div>
                    <div class="tournament-box">
                        <button type="submit" onclick="loadPageTournament('join')" style="text-align: center;"> <span></span>
                        <span></span>
                        <span></span>
                        <span></span>Join Tournament</button>
                    </div>
                    <button type="submit" onclick="loadPageUsers('home')" class="button back-button"><span></span>
                        <span></span>
                        <span></span>
                        <span></span>Home
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/localgame.js' %}" data-arg1="{% csrf_token %}"></script>
    <script src="{% static 'js/router.js' %}"></script>
    <script src="{% static 'js/dashboardTournament.js' %}"></script>
    <script src="{% static 'js/localtournament.js' %}"></script>
</body>
</html>