{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matchmaking Page</title>
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
</head>
<body>
    <div class="login-box">
        <h2>Matchmaking</h2>
        <p style="color: white; text-align: center;">Searching for another player...</p>
    </div>
    <script>
        function matchmakingLoop() {
            console.log('Searching for another player...');
            fetch('{% url "matchmaking" %}')
            .then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                }
            })
            .catch(error => console.error('Error:', error));
        }
        setInterval(matchmakingLoop, 2000);
    </script>
</body>
</html>