{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remote Matchmaking Page</title>
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'buttons.css' %}">
    <link rel="stylesheet" href="{% static 'animations.css' %}">
    <link rel="stylesheet" href="{% static 'logos.css' %}">
    <link rel="stylesheet" href="{% static 'perso.css' %}">
    <style>
        /* Style for the confirmation modal */
        #confirmationModal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border: 1px solid #ccc;
            z-index: 1000; /* Ensure modal is above other elements */
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <div class="hero">
        <div class="cube"></div><div class="cube"></div><div class="cube"></div>
        <div class="cube"></div><div class="cube"></div><div class="cube"></div>
    </div>
    <div id="app-content">
        <script>
            window.onbeforeunload = function() {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/matchmaking/matchmaking_remote_leave/', false); // false makes the request synchronous
                xhr.send(null);

                if (xhr.status !== 200) {
                    console.error('Failed to leave matchmaking queue');
                }
            }
            function showConfirmation() {
                document.getElementById('confirmationModal').style.display = 'block';
            }
            function hideConfirmation() {
                document.getElementById('confirmationModal').style.display = 'none';
            }
            
            function leaveMatchmaking() {
                fetch('/matchmaking/matchmaking_remote_leave/');
            }
        
            function matchmakingLoop() {
                fetch('/users/get_current_game/')
                .then(response => response.json())
                .then(data => {
                    console.log("DEBUG_00");
                    if (data.current_game !== null && data.context === 1) {
                        console.log("DEBUG_01");
                        stopMatchmaking();
                        loadPageGames('play');
                    }
                    else if(data.current_game !== null){
                        console.log("DEBUG_02");
                        stopMatchmaking();
                        loadPageGames('game-in-progress');
                    }
                })
                .catch(error => console.error('Error:', error));
            }
            matchmakingInterval = setInterval(matchmakingLoop, 2000);
        
            function stopMatchmaking() {
                    if (matchmakingInterval) {
                        clearInterval(matchmakingInterval);
                    }
                }
        
            function handleLeaveMatchmaking(page) {
                stopMatchmaking();
                leaveMatchmaking()
                loadPageUsers(page);
            }
        </script>
        <div class="login-box">
            <h2>Matchmaking</h2>
            <p style="color: white; text-align: center;">Searching for another player...</p>
            <div class="perso-button" style="top: 90%">
                <button type="submit" onclick="showConfirmation()"><span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Leave</button>
            </div>
            <div id="confirmationModal">
                <div>
                    <h4>Are you sure you want to leave the matchmaking page? </h4>
                    <p>Once you leave, you will no longer be in this queue.</p>
                    <button onclick="handleLeaveMatchmaking('home')">Yes</button>
                    <button onclick="hideConfirmation()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
<script src="{% static 'js/router.js' %}"></script>
<script src="{% static 'js/localgame.js' %}" data-arg1="{% csrf_token %}"></script>
</body>
</html>