asgiref==3.4.1
Django>=3.2,<4.0
sqlparse==0.4.2
typing-extensions==4.0.1
psycopg2-binary>=2.9,<3.0
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.2
channels==3.0.4


gunicorn>=20.1.0,<21.0
web3>=6.0.0,<7.0.0
typing_extensions>=4.0.0
Pillow>=10.0.0,<11.0.0

