{% load static %}
{% include 'header.html' %}
<div class="profile-page-container">
    <div class="profile-container">
        <div class="profile-image-container">
            <img src="{{ current_user.image.url }}" alt="{{ current_user.username }}'s Profile Picture" class="profile-image">
        </div>
        <div class="profile-info">
            <h1 class="username">{{ current_user.username }}</h1>
            <div class="info-item">
                <i class="fas fa-trophy"></i>
                <span>ELO Score: {{ current_user.elo }}</span>
            </div>
            <div class="info-item">
                <i class="fas fa-user-friends"></i>
                <span>Friends: {{ current_user.friends.count }}</span>
            </div>
            <div class="info-item">
                <i class="fas fa-thumbs-up"></i>
                <span>Wins: {{ current_user.wins }}</span>
            </div>
            <div class="info-item">
                <i class="fas fa-thumbs-down"></i>
                <span>Losses: {{ current_user.losses }}</span>
            </div>
            <div class="status-container">
                Status: 
                <i class="circle_status {{ current_user.get_status_display|lower }}"></i>
            </div>
        </div>    
    </div>
    <div class="match-history-container">
        <h2>Match History</h2>
        {% for match in matches %}
        <div class="match">
            <p>Type: {{ match.type }}</p>
            <p>Opponent: {{ match.opponent }}</p>
            <p>Score: {{ match.user_score }} - {{ match.opponent_score }}</p>
        </div>
        {% empty %}
        <p>No matches played yet.</p>
        {% endfor %}
    </div>
</div>