<!-- head_elements.html -->
{% load static %}
<link rel="stylesheet" href="{% static 'stylesheet.css' %}">
<link rel="stylesheet" href="{% static 'buttons.css' %}">
<link rel="stylesheet" href="{% static 'animations.css' %}">
<link rel="stylesheet" href="{% static 'logos.css' %}">
<link rel="stylesheet" href="{% static 'perso.css' %}">
<link rel="stylesheet" href="{% static 'setting.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>