{% load static %}
<div class="login-box">
    <h2>2 Facture Authentication</h2>
    <p style="color: white;">Please enter the 6 digit code sent to you by mail</p>        
    <form method="post" id="twoFactorAouth" action="{% url 'twofactor_oauth' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'twofactor_oauth_tag error' %}
                <p style="color: red;">ERROR: {{ message }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
<p style="color: white;">If you haven't received the code, check the email you specified during registration</p>


