{% load static %}
<title>Pong Game</title>
<body class="pong-game-page">
    {% csrf_token %}
    <div class="container">
        <button id="chrono-button">1:00</button>
        <div class="player-buttons">
            <button class="player-button" id="play-btn1">Play</button>
        </div>
        <canvas id="pongCanvas" width="800", height="400"></canvas>
        
        <div class="perso-button" style="top: 90%">
            <button type="submit" onclick="showConfirmation()"><span></span>
                <span></span>
                <span></span>
                <span></span>
                Quit</button>
        </div>
        <div id="confirmationModal">
            <div>
                <h4>Are you sure you want to quit this game? </h4>
                <p>Quitting automatically set your score at -1 and make your opponant the winner.</p>
                <button id="quit_game_local">Yes</button>
                <button  id="confirmationModalButton" onclick="hideConfirmation()">Cancel</button>
            </div>
        </div>
        <div id="noticeModal">
            <h4>Game Instructions</h4>
          <p>
                <span class="notice-line">Hello Newbies! Maybe it's your first time here. <br> A Stratoshperic Pong-Game will begin. <br> </span>
                <span class="notice-line">Here are the instructions for the game: <br><br> </span>
                <span class="notice-line">- Use the following keys to move your paddle.<br> Player1 (Left) will move with 'w' and 's'. <br> Player2 (Right) will move with 'arrowsUp' and 'arrowsDown'.<br><br> </span>
                <span class="notice-line">- The objective is to hit the ball past your opponent's paddle.<br><br></span>
                <span class="notice-line">- The first player to reach 12 points wins.<br><br></span>
                <span class="notice-line">- Avoid missing the ball to prevent the opponent from scoring.<br><br></span>
                <span class="notice-line">- Both of you can put the game on Pause State with ' ' A.K.A the space-bar!<br><br></span>
                <span class="notice-line">- Have fun and good luck!</span>
            </p>
            <button id="noticeModalButton" onclick="hideNotice()">Close</button>
        </div>
        <button id="notice-button" class="notice-button" onclick="showNotice()">
            <i class="fas fa-file-alt"></i>
        </button>
    </div>
</body>